[Desktop Entry]
Type=Application
Name=Install KwakOS
GenericName=System Installer
Comment=Install KwakOS on this computer — no internet required
Keywords=kwakos;calamares;system;installer;
TryExec=@INSTALLER@
Exec=@INSTALLER@
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;
